# Kickstart for CentOS 7

install
url --url http://mirror.facebook.net/centos/7/os/x86_64/
lang en_US.UTF-8
keyboard us
# asknetwork
# network --onboot=yes --device=eth0 --bootproto=dhcp --noipv6 --hostname=server.example.com

rootpw --iscrypted $6$pqUjuf9t$TiPr9vgHzREBrhh3DpMou5ka6potpbO0/CIXEwl0UG9fCz0jhRZyLnBtYR0PhwEJBWEnOdFO1Q5pg5NdgOtha/
firewall --service=ssh
authconfig --enableshadow --passalgo=sha512
selinux --disabled
timezone --utc America/Los_Angeles
firstboot --disable


bootloader --location=mbr --driveorder=sda
ignoredisk --only-use=sda
clearpart --all
zerombr
part pv.01 --grow --size=1
part /boot --fstype=ext4 --asprimary --size=500
part swap --fstype=swap --recommended

volgroup VolGroup00 pv.01

logvol / --fstype=xfs --name=root --vgname=VG00 --size=40000

text
reboot

%packages --nobase
@core
-aic94xx-firmware
-alsa-firmware
-alsa-tools-firmware
-atmel-firmware
-bfa-firmware
-ipw2100-firmware
-ipw2200-firmware
-ivtv-firmware
-iwl1000-firmware
-iwl100-firmware
-iwl105-firmware
-iwl135-firmware
-iwl2000-firmware
-iwl2030-firmware
-iwl3160-firmware
-iwl3945-firmware
-iwl4965-firmware
-iwl5000-firmware
-iwl5150-firmware
-iwl6000-firmware
-iwl6000g2a-firmware
-iwl6000g2b-firmware
-iwl6050-firmware
-iwl7260-firmware
-iwl7265-firmware
-kernel-firmware
-libertas-usb8388-firmware
-ql2100-firmware
-ql2200-firmware
-ql23xx-firmware
-ql2400-firmware
-ql2500-firmware
-rt61pci-firmware
-rt73usb-firmware
-xorg-x11-drv-ati-firmware
-zd1211-firmware

vim-enhanced
man
open-vm-tools

%end

%post
yum -y install https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm
yum -y install https://centos7.iuscommunity.org/ius-release.rpm
yum -y install https://yum.puppet.com/puppet5/puppet5-release-el-7.noarch.rpm

%end
